body, html {
    height: 100% !important;
  }
    body{
   background-image: linear-gradient(#808080,#ffffff )!important;
    text-align: center !important;
    background-repeat: no-repeat !important;
    height: auto !important;
    background-position: center !important;
    
}
.header{
    color: black!important ;
    font-style: italic !important;
    font-size: 50px !important;
    display: inline-block !important;
    width: 300px !important;
    margin: 30px !important;
}
.image{
    
    background-repeat: no-repeat !important;
    background-position: center !important;
    
}
h2{
    color: black !important;
}
button{
    width: 100px !important;
    margin: 5px !important;
    font-weight: bold !important;
    font-size: 15px !important;
}
@media (min-width: 200px){
    .image{
        background-image: url("https://lh3.googleusercontent.com/proxy/SBOqZLiVQOS-IVfyStCfhES3RO626N6qGXjJTjIsu_pnqXh6SHwPGx7H-ByxjDIKZyPY6P4pv8ZEX19jyndz411DHgq-yw-QA798CgDnmP4ZGoKdidpMpnPP-uQlTwpaJo_8mL9Aejj3jSF9owe1nvBViQ") !important;   
        height: 550px !important;
    }
}
@media (min-width: 1025px){
    .image{
        background-image: url("https://lh3.googleusercontent.com/proxy/SBOqZLiVQOS-IVfyStCfhES3RO626N6qGXjJTjIsu_pnqXh6SHwPGx7H-ByxjDIKZyPY6P4pv8ZEX19jyndz411DHgq-yw-QA798CgDnmP4ZGoKdidpMpnPP-uQlTwpaJo_8mL9Aejj3jSF9owe1nvBViQ") !important;   
        height: 550px !important;
    }
}